/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.docScroller {
	overflow-x: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	scroll-snap-points-y: repeat(100%);
	scroll-snap-type: mandatory;
	scroll-snap-destination: 100% 0%;
  }

nav {
    display: flex;
	align-items: center;
	background-color: #79bac1;
	justify-content: space-between;
}
/* #login:before {
	content: 'Login';
	font-size: 15px;
} */

h3{
	font-family: 'Simonetta';
	font-size: 15px;
}
div#login {
    display: flex;
	flex-direction: column;
	/* padding-left: 30rem; */
	align-items: center;
	justify-content: space-around;
}

h1#title {
    font-size: 35px;
    color: #f1f3f4;
	font-family: 'Merriweather', serif;
}

h2 {
    font-family: 'Merriweather', serif;
}

#submit {
	width: 150px;
	
}


#recipe-of-day-image {
	border: solid;
	border-color: #f1f3f4;
	box-shadow: lightsteelblue;
	border-style: inherit;
	border-radius: 50%;
}

#recipe-button {
	border: 1px solid #999;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    justify-content: space-evenly;
    width: 7rem;
    height: 7rem;
    border-radius: 17px;
    background-color: #512b58;
	box-shadow: 0px 0px 8px;
	text-decoration: none;
} 

#recipe-caption {
	font-size: 10px;
	color: #f1f3f4;
}

main {
  
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	justify-content: space-between;
	/* align-items: center; */
	padding-top: 5rem;
	overflow-y: scroll;
	/* justify-content: flex-end; */
}

.wrapper {
	display: grid;
	grid-template-columns: 200px 200px 200px;
  	grid-gap: 20px;
  }

  


  #box1{
	border: solid;
	border-radius: 5px;
	padding: 20px;
	font-size: 75%;
	font-family: 'Simonetta';
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-shadow: 0px 0px 8px;
	background-color: lightgray;
	/* font-size: 20px; */
	
  }

  #box2{
	border: solid;
	border-radius: 5px;
	padding: 20px;
	font-size: 75%;
	font-family: 'Simonetta';
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items: flex-start;
	box-shadow: 0px 0px 8px;
	background-color: lightgray;
	/* font-size: 20px; */
  }

  #box3{
	border: solid;
	border-radius: 5px;
	padding: 20px;
	font-size: 75%;
	font-family: 'Simonetta';
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items: flex-start;
	box-shadow: 0px 0px 8px;
	background-color: lightgray;
	/* font-size: 20px; */
  }

  #box4{
	border: solid;
	border-radius: 5px;
	padding: 20px;
	font-size: 75%;
	font-family: 'Simonetta';
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items: flex-start;
	box-shadow: 0px 0px 8px;
	background-color: lightgray;
	/* font-size: 20px; */
  }

  #box5{
	border: solid;
	border-radius: 5px;
	padding: 20px;
	font-size: 75%;
	font-family: 'Simonetta';
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items: flex-start;
	box-shadow: 0px 0px 8px;
	background-color: lightgray;
	/* font-size: 20px; */
  }
.weather-data {
	display: flex;
	align-items: center;
	padding-bottom: 10rem;

}

#weather-grid-title {
	padding-left: 22rem;
	padding-top: 3rem;
	font-family: 'Simonetta';
	font-size: 25px;
}

  h1#weather_date{
	font-size: 20px;
	color: salmon;
	font-style: italic;
  }

  #weather-form-input{
	 border: 5px solid;
	 border-color: #512b58;
	 box-shadow: steelblue;
	 font-family: 'Simonetta';
  }
#form-title{
	font-family: 'Simonetta';
	font-size: 20px;
}
  #weather-form {
	font-family: 'Simonetta';
	padding-left: 1rem;
  }

  #weather-info{ 
	 font-size: 20px;
	 color: darkgray;
  }

  #weather-temp{
	  font-size: 20px;
	  color: black;
  }

  
  #table-title{
	  font-size: 30px;
	  font-family: 'Simonetta';
	  text-align: center;
  }
  table, th, td {
	border: 1px solid black;
  }